body{
    background: linear-gradient(#e66465, #9198e5);
}
#text{
    width: auto;
    width: 748px;
    font-family: sans-serif;
    height: 36px;
    margin-bottom: 2px;
    border: 2px solid black;
}
.text-area{
    width: 500px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.notes-list {
    height: 100vh;
    width: 28vw;
    border: 1px solid black;
}

.text-area {
    width: 68vw;
}

.note {
    height: 60px;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}

.title {
    font-size: small;
}


/* <!-- HTML !-->
<button class="button-30" role="button">Button 30</button> */

/* CSS */
.submit {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}